@model Globus.Models.slide

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Update Slide</h2>

@using (Html.BeginForm("Edit", "slide", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group">
                <label for="room" style="width:auto;display:block;">Slogan</label>
                <input name="slogan" type="text" id="slogan" value="@Model.slogan" class="form-control" style="width:60%;" placeholder="Gõ slogan "/>
                @Html.ValidationMessageFor(model => model.slogan)
        </div>
        <div class="form-group">
                <label for="room" style="width:auto;display:block;">Description</label>
                <textarea name="des" id="des" class="form-control" >
                    @Model.des
                </textarea>
                @Html.ValidationMessageFor(model => model.des)
        </div>
        <div class="form-group">
                <label for="room" style="width:auto;display:block;">Link to</label>
                <input name="link" type="text" id="link" value="@Model.link" class="form-control" style="width:60%;" placeholder="Link to"/>
                @Html.ValidationMessageFor(model => model.link)
        </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Upload Image Slide</label>
                <input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();"/>                                
                <div id="progressbar" class="progressbar">
                    <div id="progresslabel" class="progressbarlabel"></div>
                 </div>  
              </div>
         </div> 
         <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Image</label>
                <input name="image" type="hidden" id="image" value="@Model.image" class="form-control" />                  
                <div id="imageShow" style="width:600px;height:200px;display:none;"><img src="@Model.image" style="width:600px;height:200px;"></div>
              </div>
         </div>
         <div class="form-group">
                <label for="room" style="width:auto;display:block;">Order No</label>
                <select class="form-control" name="no" id="no">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                @Html.ValidationMessageFor(model => model.no)
        </div>
        <p>
            <input type="button" class="btn btn-info" onclick="checkField();" value="Update" />
        </p>
    </fieldset>
}
<div id="loadingImage" name="loadingImage" style="z-index:1000;position:fixed;left:40%;top:30%;width:32px;height:32px;display:none;">
    <img src="/Images/loading.gif">
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    if ("@Model.image"!=""){
        $("#imageShow").show();
    }
    document.getElementById("no").value=@Model.no;
    //Image upload
    function uploadProcess() {

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFile');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            break;
        }

        formdata.append("filename", "noname");
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbar").progressbar("value", progress);
            }
        }, false);
        xhr.open('POST', '/slide/UploadImageProcess');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#imageShow').show();
                $('#imageShow').html("<img src=\"" + xhr.responseText + "\" width=600 height=200>");
                $('#image').val(xhr.responseText);
                hideLoadingImage();
            }
        }
        return false;
    }

    $("#progressbar").progressbar({
        max: 100,
        change: function (evt, ui) {
            $("#progresslabel").text($("#progressbar").progressbar("value") + "%");
        },
        complete: function (evt, ui) {
            $("#progresslabel").text("File upload successful!");
        }
    });

    evt.preventDefault();
    function checkField() {
        if (document.getElementById("slogan").value == "") {
            alert("enter slogan!");
            document.getElementById("slogan").focus();
            return false;
        }
        if (document.getElementById("des").value == "") {
            alert("enter description!");
            document.getElementById("des").focus();
            return false;
        }
        if (document.getElementById("image").value == "") {
            alert("upload image slide!");
            return false;
        }
        document.getElementById("EditForm").submit();
    }

</script>
