<!-- SLIDER -->
        <div id="outerslider">
        	<div class="container">
        	<div id="slidercontainer" class="twelve columns">
            
            	<section id="slider">
                    <div id="slideritems" class="flexslider">
                        <ul class="slides">
                            @Html.Raw(@ViewBag.slide)
                        </ul>
                    </div>
                </section>
                
            </div>
            </div>
        </div>
        <!-- END SLIDER -->
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            	<section id="content" class="positionleft eight columns alpha">
                    <article>
                    	@Html.Raw(@ViewBag.about)
                    </article>
                    
                    <div class="separator line"><div></div></div>
                    
                    <article>
                    	<h2>News Update</h2>
                        @Html.Raw(@ViewBag.news)
                    </article>
				</section>
                
                <aside id="sidebar" class="positionright four columns omega">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">From The Blog</h2>
                            <ul class="lp-widget">
                                <li>
                                	<img src="images/icon/date.png" alt="" class="alignleft" />
                                    <div class="lp">
                                        <h3><a href="#">Nullam consequat ornare orci</a></h3>
                                        <span class="smalldate">April 25, 2012&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">1 Comment</a></span>
                                        <span>Pellentesque auctor vehicula sapien, et lacinia neque convallis ac. Curabitur porttitor laoreet metus...</span>
                                    </div>
                                </li>
                                <li>
                                	<img src="images/icon/date.png" alt="" class="alignleft" />
                                    <div class="lp">
                                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                        <span class="smalldate">April 23, 2012&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">1 Comment</a></span>
                                        <span>Pellentesque auctor vehicula sapien, et lacinia neque convallis ac. Curabitur porttitor laoreet metus...</span>
                                    </div>
                                </li>
                                <li>
                                	<img src="images/icon/date.png" alt="" class="alignleft" />
                                    <div class="lp">
                                        <h3><a href="#">Aliquam congue nibh sit</a></h3>
                                        <span class="smalldate">April 20, 2012&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">1 Comment</a></span>
                                        <span>Pellentesque auctor vehicula sapien, et lacinia neque convallis ac. Curabitur porttitor laoreet metus...</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="widget-container">
                        	<div class="textwidget greybox">
                            <p><img src="images/icon/pdf.png" alt="" class="alignleft" />Download, fill out and submit the
								design brief!<br>
								<a href="#">click here to download</a></p>
                            </div>
                      	</li>
                 	</ul>
				</aside>	
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->