<!-- SLIDER -->
        <div id="outerslider">
        	<div class="container">
        	<div id="slidercontainer" class="twelve columns">
            
            	<section id="slider">
                    <div id="slideritems" class="flexslider">
                        <ul class="slides">
                            @Html.Raw(@ViewBag.slide)
                        </ul>
                    </div>
                </section>
                
            </div>
            </div>
        </div>
        <!-- END SLIDER -->
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            	<section id="content" class="positionleft eight columns alpha">
                    <article>
                    	@Html.Raw(@ViewBag.about)
                    </article>
                    
                    <div class="separator line"><div></div></div>
                    
                    <article>
                    	<h2>News Update</h2>
                        @Html.Raw(@ViewBag.news)
                    </article>
				</section>
                
                <aside id="sidebar" class="positionright four columns omega">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">Our Vision</h2>
                            <ul class="lp-widget">
                               @Html.Raw(@ViewBag.vision)
                            </ul>
                        </li>
                        <li class="widget-container">
                            <h2 class="widget-title">Our Service</h2>
                            <ul class="lp-widget">
                               @Html.Raw(@ViewBag.service)
                            </ul>
                        </li>
                 	</ul>
				</aside>	
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
<script>
    function autoCrawlNews() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/news/autoCrawlNews');
            xhr.send();
            var content = "";
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText=="1"){
                        //alert("ok");
                    }else{
                        //alert("not ok");
                    }
                }
            }
        }
    autoCrawlNews();
</script>