@model Globus.Models.news

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@Model.title</h1>
<h3>@Model.des</h3>
<p>@Html.Raw(@Model.fullcontent)</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
