@model PagedList.IPagedList<Globus.Models.news>
@using PagedList.Mvc; 
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    string link = "";
}

<!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            	<section id="content" class="positionleft eight columns alpha">
                    @foreach (var item in Model) {
                        if (item.link != null)
                        { link = item.link; }
                        else { 
                            link = "/news/" + Globus.Config.unicodeToNoMark(item.title) + "-" + item.id; 
                        }
                    <article class="post">
                         @if (item.image!=""){
                    	    <div class="postimg"><img src="@item.image" alt="" class="scale-with-grid"  /></div>
                         }
                         <div class="entry-date">
                            <div class="posttime">@Globus.Config.getDateYear((DateTime)@item.datepost)</div>
                            <div class="postdate">@Globus.Config.getDay((DateTime)@item.datepost)</div>
                         </div>
                         <div class="entry-text">
                             <h2 class="posttitle"><a href="@link" target="_blank">@item.title</a></h2>                             
                             <div class="entry-content">
                             <p>@Globus.Config.StripTagsRegex(@item.des)</p>
                             <a href="@link" class="button " target="_blank">Read More</a>
                            </div>
                        </div> 
                         <div class="clear"></div>     
                    </article>
                    }
                    <div class="pagenavi">
                        <a class="prev" href="/News/List?keyword=@ViewBag.keyword&page=@ViewBag.ppage">&larr; last preview</a>
                        <a class="next" href="/News/List?keyword=@ViewBag.keyword&page=@ViewBag.npage">next preview &rarr;</a>
                    </div>
                    
                    
				</section>
                
                <aside id="sidebar" class="positionright four columns omega">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">Search</h2>
                            <div class="textwidget">Enter keyword</div>
                        </li>
                        <li class="widget-container">
                            <form method="get" id="searchform" action="#">
                                <div class="bgsearch">
                                <input type="text" name="keyword" id="keyword" value="Type and search..." onFocus="if (this.value == 'Type and search...')this.value = '';" onBlur="if (this.value == '')this.value = 'Type and search...';" /> 
                                <input type="button" style="cursor:pointer;" class="searchbutton" onclick="search();"/>
                                </div>
                            </form>
                        </li>
                       
                 	</ul>
				</aside>	
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
<script>
    function search() {
        var keyword = document.getElementById("keyword").value;
        window.location.href = "/news/list?keyword=" + keyword;
    }
</script>